body,
.body {
  font-family: MaisonNeue, -apple-system, system-ui, Helvetica, Arial,
    sans-serif;
  background: #e8edfb;
  margin: 0px;
  padding: 0px;
}

.logo {
  max-height: 100px;
}

img {
  max-height: 200px;
}
header {
  background-color: #2206c6;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  padding: 30px 0px 10px 0px;
}

a {
  background: #fc00ff;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}

.buttons {
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

button {
  background: yellow;
  border: 0px;
  border-radius: 20px;
  display: inline-block;
  height: 30px;
  font-size: 30px;
}

main {
  background: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  background: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.commentField {
  width: 400px;
}

.submitButton { 
  background: yellow;
  border: 1px solid black;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.allBoards {
  display: flex;
}
.goodBoardsOuter {
  background: rgb(42, 179, 172);
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: black solid 2px; */
  padding: 10px;
  width: 50vw;
}

.goodBoards {
  background: rgb(42, 179, 172);
}

.badBoardsOuter {
  background: lightsalmon;
  display: flex;
  align-items: center;
  flex-direction: column;
  /* border: black solid 2px; */
  padding: 10px;
  width: 50vw;

}

.badBoards {
  background: lightsalmon;
}

.deleteButton,
.updateButton {
   background: none;
}

.banner {
  background: yellow;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 10vh;
}

article {
  background: yellow;
  border: 0px;
  border-radius: 20px;
  display: inline-block;
  height: 30px;
  font-size: 30px;
}