body {
  font-family: MaisonNeue, -apple-system, system-ui, Helvetica, Arial,
    sans-serif;
  background: #e8edfb;
}
img {
  max-height: 200px;
}
header {
  background-color: #282c34;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
}

a {
  background: green;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 30px;
  padding: 30px;
}

main {
  background: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  background: red;
  border-radius: 20px;
  display: inline-block;
  height: 30px;
}

article {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: lightcoral;
}
